.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.container__big {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;
}

.about {
  margin-bottom: 180px;

  &__top {
    text-align: center;
    color: #fdfdf0;
    background-image: url("../images/about-bg.png");
    min-height: 748px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    text-transform: uppercase;
  }

  &__title {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Work Sans";
    font-size: 250px;
    font-weight: 600;
    line-height: 90%;
    padding-top: 85px;
  }

  &__text {
    font-size: 32px;
    line-height: 1.2;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }

  &__achievements {
    margin-top: -55px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
  }

  &__achievement {
    display: flex;
    gap: 25px;
    max-width: 580px;
    border-radius: 20px;
    background-color: #f4f4e7;
    padding: 14px 10px;
  }
  .box {
    position: relative;
    &__img {
      min-width: 214px;
    }
    &__btn {
      position: absolute;
      top: 7px;
      right: -5px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .content {
    &__title {
      padding-top: 10px;
      font-weight: 500px;
      padding-bottom: 20px;
      line-height: 1.5;
    }
    &__text {
      font-size: 14px;
      font-weight: 300;
    }
    &__highlight {
      color: #f2a531;
      font-weight: 600;
    }
  }
}

.stats {
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  background-color: #f4f4e7;
  margin-bottom: 70px;
  border-radius: 20px;
  &__item {
    min-width: 257px;
    text-align: center;
  }
  dd,
  dt {
    margin: 0;
  }
  &__title {
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__descr {
    font-weight: 300;
    font-size: 22px;
    opacity: 0.7;
  }
}

.text {
  margin-bottom: 40px;
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
}

.chart {
  &__box {
    display: flex;
    gap: 140px;
    &_text {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 45px;
    }
  }
}

.table {
  &__item {
    &:first-child {
      border-top: 1px solid rgba(14, 13, 13, 0.23);
    }
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(14, 13, 13, 0.23);
    & dt {
      font-size: 18px;
      font-weight: 500;
    }

    & dd {
      font-weight: 300;
    }
  }
}
