.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.footer {
  background-color: black;
  color: white;
  padding: 100px 0;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  li:first-child {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 15px;
}

@media (max-width: 800px) {
  .top {
    display: block;
    text-align: center;
    ul:nth-child(1) {
      display: none;
    }
    ul:nth-child(even) {
      display: none;
    }
    a {
      margin-bottom: 20px;
      display: inline-block;
    }
  }
  .bottom {
    display: none;
  }
  .footer {
    padding: 50px 0;
  }
}
