.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-weight: 500;
  }
  &__contacts {
    display: inline-block;
    padding: 10px 40px;
    background-color: black;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 35px;
    text-transform: uppercase;
  }
  &__item {
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .header__inner {
    flex-direction: column;
    gap: 30px;
  }
  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
