.partners {
  margin-bottom: 150px;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
  height: 500px;
  gap: 120px;
}

.contacts {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.link {
  color: #fff;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  background-color: black;
  padding: 20px 100px 20px 40px;
  position: relative;
  border-radius: 96px;
  display: inline-block;
}

.btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.stats {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
  background-color: #f4f4e7;
  border-radius: 10px;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.item {
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}

.item::before {
  position: absolute;
  content: "";
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 8px;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
}

.item + .item {
  margin-top: 15px;
}

.info {
  padding: 30px;
  background-color: black;
  color: white;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .inner {
    gap: 10px;
  }
  .contacts {
    max-width: 350px;
  }
}

@media (max-width: 950px) {
  .inner {
    display: block;
  }
  .contacts {
    width: 100%;
    text-align: center;
  }
  .link {
    margin-bottom: 50px;
  }
}

@media (max-width: 650px) {
  .stats {
    display: block;
    text-align: center;
  }

  .stats__info {
    flex-direction: row;
    align-items: center;
    img {
      display: none;
    }
  }
  .stats__img {
    width: 100%;
    object-fit: cover;
  }
  .info {
    text-align: center;
  }
  .contacts {
    margin: 0 auto;
  }
}
