.slogan {
  text-align: center;
  margin-bottom: 140px;
  &__inner {
    background-image: url("../images/slogan-img.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 640px;
    // height: 200px;
  }
  &__subtitle {
    font-family: "Work Sans";
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 115px;
  }
  &__title {
    color: #f2a531;
    margin-top: -20px;
    font-family: "Work Sans";
    font-size: 300px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: -1;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
  }
}

@media (max-width: 1500px) {
  .slogan__title {
    font-size: 150px;
  }
  .slogan__subtitle {
    font-size: 28px;
  }
  .slogan {
    margin-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .slogan__title {
    font-size: 70px;
  }
  .slogan__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .slogan__inner {
    height: 500px;
  }
}
